body {
    font-family: Arial, sans-serif;
    margin: 0;
padding: 0;
}
header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
#search-form {
display: flex;
    align-items: center;
    gap: 10px;
}
#search-input {
    padding: 5px;
    font-size: 16px;
    width: 70%;
}
#search-option {
    padding: 5px;
    font-size: 16px;
    width: 30%;
}
button[type="submit"] {
    padding: 10px 16px;
        font-size: 16px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
        float:right;
}
.country-card {
    border: 1px solid #000000;
    /* align-items: center; */
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-width: 10px;
    border-radius: 20px;
    padding: 10px;
    max-width: 365px;
    text-align: center;
    font-size: 20px;
}
.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
}
#logo{
    color: #663399;
        font-size: 23px;
        font-family:Arial, Helvetica, sans-serif;
        text-align: left;
        margin-top: 0px;
        float: left;
        line-height: 0px;
        padding-left: 0px;
    }
.common{
    color:rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}