body{background: rgb(239, 54, 54)}

.first {
    width: 100%;
    height: 33.33%;
}
#F {

    background: rgb(223, 132, 13);


}
#S {
    
    background: rgb(223, 132, 13);


}
#T {
    
    background: rgb(223, 132, 13);

}
